block variable

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;.." rel="stylesheet")
        link( href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap" rel="stylesheet")
    body
        block wrapper
